name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Logging into Dockerhub
      env:
        DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    
    #- name: Build and Push Docker image
      #run: docker-compose build --push -t dinuka029/co227:latest  .
      #run: docker buildx build --file docker-compose.yml --push -t dinuka029/co227:latest  .
      #run: docker buildx build --push -t dinuka029/co227:latest  .
      #run: docker buildx build --file docker-compose.yml --service web --push -t dinuka029/co227:latest .

    - name: Build docker compose file
      run: docker buildx build -f docker-compose.yml --push .

    #- name: Push to Docker hub
    #  run: docker push dinuka029/co227:latest  .